@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html a {
  text-decoration: none;
  color: inherit;
}

html ul,
html li {
  list-style-type: none;
}

html body {
  color: #fff;
  height: 100%;
  font-family: "Raleway", sans-serif;
  line-height: 2;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

main {
  overflow-x: hidden;
  background-color: #555;
}

main .readMore {
  position: relative;
  left: 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eb6800;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

main .readMore a {
  color: #fff;
  display: block;
  padding: 1.5rem 3.5rem;
}

main .readMore a i {
  padding-right: 1.5rem;
}

main .readMore::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #06458f;
  -webkit-transition: -webkit-transform ease-in-out 0.25s;
  transition: -webkit-transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s, -webkit-transform ease-in-out 0.25s;
  -webkit-transform: translate(-7%, -20%);
          transform: translate(-7%, -20%);
  z-index: -1;
}

main .readMore:hover {
  -webkit-transform: translate(-7%, -20%);
          transform: translate(-7%, -20%);
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

main .readMore:hover::before {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

main h1 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main h1::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

main h1:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

main h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

main h1:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

main input.hidden {
  display: none;
}

.main-nav {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
}

h1 {
  font-size: 6rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header .language-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .language-nav img {
  width: 3rem;
}

header .main-nav {
  position: relative;
  z-index: 9999;
}

header .main-nav > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.5rem;
  vertical-align: middle;
  cursor: pointer;
}

header .main-nav > li > :first-child {
  position: relative;
}

header .main-nav > li > :first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header .main-nav > li > :first-child:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .main-nav > li img {
  width: 15rem;
}

header .main-nav .travels p i {
  font-size: 1.5rem;
  padding: .3rem .5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

header .main-nav .travels .travels-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 13rem;
  padding-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D2D33;
  color: #fff;
  font-family: "Raleway", sans-serif;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

header .main-nav .travels .travels-dropdown.visible {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .main-nav .travels .travels-dropdown .continent {
  height: 5rem;
  overflow: hidden;
}

header .main-nav .travels .travels-dropdown .continent .content {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

header .main-nav .travels .travels-dropdown .continent .content .countries {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.5rem;
}

header .main-nav .travels .travels-dropdown .continent .content .countries a {
  margin: 1rem 2rem;
}

header .main-nav .travels .travels-dropdown .continent:hover .content {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .main-nav::after {
  content: 'x-small';
  background: red;
  padding: 1rem 1.5rem;
  color: #fff;
}

@media screen and (min-width: 576px) {
  header .main-nav::after {
    content: 'small';
    background: blue;
    padding: 1rem 1.5rem;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  header .main-nav::after {
    content: 'medium';
    background: brown;
    padding: 1rem 1.5rem;
    color: #fff;
  }
}

@media screen and (min-width: 992px) {
  header .main-nav::after {
    content: 'large';
    background: green;
    padding: 1rem 1.5rem;
    color: #fff;
  }
}

@media screen and (min-width: 1200px) {
  header .main-nav::after {
    content: 'x-large';
    background: purple;
    padding: 1rem 1.5rem;
    color: #fff;
  }
}

footer .confirmOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

footer .confirmOverlay.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .confirmOverlay .confirmBox {
  position: relative;
  background-color: #fff;
  min-width: 25%;
  padding: 4rem;
  border-radius: 10px;
  z-index: 200;
}

footer .confirmOverlay .confirmBox p {
  font-style: italic;
}

footer .confirmOverlay .confirmBox .fa-exclamation-circle {
  font-size: 5rem;
  color: #EA0F1E;
  margin: 1rem 0;
}

footer .confirmOverlay .confirmBox .fa-times {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  -webkit-transition: all ease-in-out .35s;
  transition: all ease-in-out .35s;
}

footer .confirmOverlay .confirmBox .fa-times:hover {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

footer .confirmOverlay .confirmBox .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .confirmOverlay .confirmBox .buttons .btn {
  font-size: inherit;
  text-transform: uppercase;
}

footer #imgPickerOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

footer #imgPickerOverlay.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #imgPickerOverlay #imgPickerContent {
  position: relative;
  width: 70%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

footer #imgPickerOverlay #imgPickerContent .fa-times {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  -webkit-transition: all ease-in-out .35s;
  transition: all ease-in-out .35s;
}

footer #imgPickerOverlay #imgPickerContent .fa-times:hover {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

footer #imgPickerOverlay #imgPickerContent .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: ()[auto];
      grid-template-rows: repeat(auto);
  grid-gap: 1rem 2rem;
}

footer #imgPickerOverlay #imgPickerContent .body figure {
  cursor: pointer;
  -webkit-transition: -webkit-transform ease 0.25s;
  transition: -webkit-transform ease 0.25s;
  transition: transform ease 0.25s;
  transition: transform ease 0.25s, -webkit-transform ease 0.25s;
  border: 4px solid #fff;
}

footer #imgPickerOverlay #imgPickerContent .body figure.active {
  border: 4px solid #eb6800;
}

footer #imgPickerOverlay #imgPickerContent .body figure:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer #imgPickerOverlay #imgPickerContent .body figure img {
  display: block;
  width: 100%;
  aspect-ratio: 14/9;
}

.home .plx-1,
.home .plx-2,
.home .plx-3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home .plx-1 {
  background-image: url("https://picsum.photos/1600/900");
  min-height: 600px;
}

.home .plx-2 {
  background-image: url("https://picsum.photos/1600/900");
  min-height: 600px;
}

.home .plx-3 {
  background-image: url("https://picsum.photos/1600/900");
  min-height: 600px;
}

.about img {
  width: 20%;
}

.accounts form {
  background: #06458f;
  padding: 2em;
}

.accounts form input,
.accounts form button {
  outline: none;
  background: white;
  padding: 0.5em;
  border-radius: 0.3em;
}

.accounts form legend {
  position: absolute;
  color: white;
}

.accounts form:nth-child(2) {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: 6px double #eb6800;
}

.accounts form:nth-child(3) {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.travels .banner {
  max-width: 40%;
  position: fixed;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}

.travels .banner h1 {
  text-transform: uppercase;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}

.travels .banner a {
  color: inherit;
  font-size: 4rem;
  cursor: pointer;
}

.travels .banner a i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.travels .plx-1 {
  position: relative;
  background-image: url("https://picsum.photos/1600/900");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 5;
  min-height: 100vh;
}

.travels .container {
  background-color: inherit;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}

.travels .container article {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

.travels .container article img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 18/9;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.travels .container article img:hover {
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.travels .container article .text {
  text-align: left;
  padding: 1.5rem;
  margin-left: 2rem;
  max-width: 80%;
  min-height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.travels .container article .text h2 {
  text-transform: uppercase;
}

.travels .container article .text .readMore {
  display: none;
}

.travels .container article:nth-of-type(9n-8) {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.travels .container article:nth-of-type(9n-8) > a {
  max-width: 47%;
}

.travels .container article:nth-of-type(9n-8) > a img {
  aspect-ratio: 4/3;
}

.travels .container article:nth-of-type(9n-8) .text {
  -ms-flex-item-align: unset;
      -ms-grid-row-align: unset;
      align-self: unset;
  max-width: 30%;
  margin: 0 auto;
}

.travels .container article:nth-of-type(9n-8) .text p {
  margin-top: 2.5rem;
}

.travels .container article:nth-of-type(9n-8) .text .readMore {
  display: unset;
}

.travels .container article:nth-of-type(9n-7),
.travels .container article:nth-of-type(9n-6) {
  width: 47%;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in, -webkit-transform 1000ms ease-in-out;
  transition: opacity 500ms ease-in, -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, opacity 500ms ease-in;
  transition: transform 1000ms ease-in-out, opacity 500ms ease-in, -webkit-transform 1000ms ease-in-out;
}

.fade-in.appear {
  opacity: 1;
}

.slide-in.appear {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.from-left {
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

.from-right {
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

.from-bottom {
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
}

.post .banner,
.project .banner {
  max-width: 40%;
  position: fixed;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}

.post .banner h1,
.project .banner h1 {
  text-transform: uppercase;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}

.post .banner a,
.project .banner a {
  color: inherit;
  font-size: 4rem;
  cursor: pointer;
}

.post .banner a i,
.project .banner a i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.post .plx-1,
.post .plx-2,
.post .plx-3,
.project .plx-1,
.project .plx-2,
.project .plx-3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 5;
}

.post .plx-1,
.project .plx-1 {
  background-image: url("https://picsum.photos/1600/900");
  min-height: 85vh;
}

.post .plx-2,
.project .plx-2 {
  background-image: url("https://picsum.photos/1600/900");
  min-height: 80vh;
  background-attachment: unset;
}

.post .plx-3,
.project .plx-3 {
  background-image: url("https://picsum.photos/1600/900");
  min-height: 70vh;
}

.post #container,
.project #container {
  background-color: inherit;
  position: relative;
  z-index: 5;
}

.post #container section,
.project #container section {
  position: relative;
  padding: 8rem;
}

.post #container section:nth-of-type(1) article:nth-of-type(1) p:nth-of-type(1)::first-letter,
.project #container section:nth-of-type(1) article:nth-of-type(1) p:nth-of-type(1)::first-letter {
  text-transform: uppercase;
  color: #06458f;
  float: left;
  font-size: 6rem;
  margin: 0 2.5rem;
}

.post #container section article,
.project #container section article {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}

.post #container section article p,
.project #container section article p {
  max-width: 45%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 2rem;
}

.post #container section article .img-right,
.project #container section article .img-right {
  float: right;
  margin: 1rem -2rem 2rem 4rem;
  width: 45%;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}

.post #container section article .img-right.active,
.project #container section article .img-right.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.post #container section article .img-right img,
.project #container section article .img-right img {
  width: 100%;
}

.post #container section aside,
.project #container section aside {
  position: absolute;
  top: 10%;
  width: 10%;
  z-index: 10;
}

.post #container section aside.left,
.project #container section aside.left {
  left: 10%;
}

.post #container section aside.left div,
.project #container section aside.left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post #container section aside.right,
.project #container section aside.right {
  right: 10%;
}

.post #container section aside.right div,
.project #container section aside.right div {
  line-height: 1.5;
}

.post #container section aside.right div + div,
.project #container section aside.right div + div {
  position: relative;
  margin-top: 3rem;
}

.post #container section aside.right div + div::before,
.project #container section aside.right div + div::before {
  content: '';
  position: absolute;
  top: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  border-top: 2px solid #000;
}

.post #container section aside.right div p,
.project #container section aside.right div p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

.post #container section aside.right div p:first-of-type,
.project #container section aside.right div p:first-of-type {
  color: #a0a0a0;
}

.post #container section aside.right .date p,
.project #container section aside.right .date p {
  font-style: unset;
  font-weight: normal;
}

.post #container section aside.right .date p:nth-of-type(1),
.project #container section aside.right .date p:nth-of-type(1) {
  text-transform: uppercase;
  font-weight: bold;
  color: #a0a0a0;
}

.post #container section aside.right .date p:nth-of-type(2),
.project #container section aside.right .date p:nth-of-type(2) {
  font-size: 3rem;
}

.post #container section aside.right .date p:nth-of-type(3),
.project #container section aside.right .date p:nth-of-type(3) {
  font-weight: bold;
  color: #a0a0a0;
}

.postBack img {
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in 200ms;
  transition: -webkit-transform ease-in 200ms;
  transition: transform ease-in 200ms;
  transition: transform ease-in 200ms, -webkit-transform ease-in 200ms;
}

.postBack img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gallery .photos-container,
.galleryBack .photos-container {
  max-width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.gallery .photos-container img,
.galleryBack .photos-container img {
  width: 100%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery section .filters {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.gallery section .filters .filter {
  background-color: #06458f;
  color: #eee;
  padding: 1rem 1.5rem;
  margin: 2rem;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gallery section .filters .filter:hover {
  background-color: #eb6800;
}

.gallery section .filters .filter.active {
  background-color: #c200e3;
}

.gallery section .country-filters .filter {
  display: none;
}

.gallery section .country-filters .filter.visible {
  display: block;
}

.gallery .photos-container {
  -ms-grid-columns: (minmax(300px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 3rem;
}

.gallery .photos-container figure {
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: none;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.gallery .photos-container figure:hover {
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gallery .photos-container figure:hover figcaption {
  opacity: 1;
}

.gallery .photos-container figure.visible {
  display: block;
}

.gallery .photos-container figure img {
  height: 100%;
}

.gallery .photos-container figure figcaption {
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  color: #fff;
  text-shadow: 1px 1px 0px black;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .photos-container figure figcaption::before, .gallery .photos-container figure figcaption::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: -webkit-transform ease-in-out 0.35s;
  transition: -webkit-transform ease-in-out 0.35s;
  transition: transform ease-in-out 0.35s;
  transition: transform ease-in-out 0.35s, -webkit-transform ease-in-out 0.35s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.gallery .photos-container figure figcaption::before {
  top: 0;
  left: 0;
}

.gallery .photos-container figure figcaption::after {
  bottom: 0;
  right: 0;
}

.gallery .photos-container figure figcaption:hover::before, .gallery .photos-container figure figcaption:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.galleryBack .photos-container {
  -ms-grid-columns: (minmax(230px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(230px, 1fr));
}

.galleryBack .photos-container .actions i {
  cursor: pointer;
}

.galleryBack .photos-container .actions .fa-eye-slash,
.galleryBack .photos-container .actions .fa-eye {
  display: none;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}

.galleryBack .photos-container .actions .fa-eye-slash:hover,
.galleryBack .photos-container .actions .fa-eye:hover {
  color: #ddd;
}

.galleryBack .photos-container .actions .fa-eye-slash.visible,
.galleryBack .photos-container .actions .fa-eye.visible {
  display: inline-block;
}

.photoBack #newContinent,
.locationBack #newContinent {
  display: none;
}

.photoBack #newContinent.active,
.locationBack #newContinent.active {
  display: inline;
}

.photoBack #countries,
.locationBack #countries {
  display: none;
}

.photoBack #countries.active,
.locationBack #countries.active {
  display: inline;
}

.photoBack #countries option:not([value='new']),
.locationBack #countries option:not([value='new']) {
  display: none;
}

.photoBack #countries option.active,
.locationBack #countries option.active {
  display: block;
}

.photoBack #newCountry,
.locationBack #newCountry {
  display: none;
}

.photoBack #newCountry.active,
.locationBack #newCountry.active {
  display: inline;
}

.photoBack .location option,
.locationBack .location option {
  background-color: #fff;
  color: #000;
}

.photoBack .location optgroup[value='continent'],
.locationBack .location optgroup[value='continent'] {
  background-color: black;
  color: #fff;
  text-transform: uppercase;
}

.photoBack .location optgroup[value='country'],
.locationBack .location optgroup[value='country'] {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ddd;
}

.projects .projects-container {
  -ms-grid-columns: (minmax(300px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 3rem;
  max-width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

.projects .projects-container figure {
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
}

.projects .projects-container figure .overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.projects .projects-container figure:hover {
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projects .projects-container figure:hover .overlay {
  z-index: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.projects .projects-container figure:hover figcaption {
  opacity: 1;
}

.projects .projects-container figure img {
  display: block;
  width: 100%;
  aspect-ratio: 5/3;
}

.projects .projects-container figure figcaption {
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  color: #fff;
  text-shadow: 1px 1px 0px black;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .projects-container figure figcaption::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: -webkit-transform ease-in-out 0.35s;
  transition: -webkit-transform ease-in-out 0.35s;
  transition: transform ease-in-out 0.35s;
  transition: transform ease-in-out 0.35s, -webkit-transform ease-in-out 0.35s;
  -webkit-transform: scaleX(0.1);
          transform: scaleX(0.1);
}

.projects .projects-container figure figcaption::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: -webkit-transform ease-in-out 0.35s;
  transition: -webkit-transform ease-in-out 0.35s;
  transition: transform ease-in-out 0.35s;
  transition: transform ease-in-out 0.35s, -webkit-transform ease-in-out 0.35s;
  -webkit-transform: scaleX(0.1);
          transform: scaleX(0.1);
}

.projects .projects-container figure figcaption:hover::before, .projects .projects-container figure figcaption:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.projects .projects-container figure figcaption p a {
  color: inherit;
}

.projects .projects-container figure figcaption p:hover a {
  color: #c200e3;
}

.projectsBack .actions i,
.travelsBack .actions i {
  cursor: pointer;
}

.projectsBack .actions .fa-eye-slash,
.projectsBack .actions .fa-eye,
.travelsBack .actions .fa-eye-slash,
.travelsBack .actions .fa-eye {
  display: none;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}

.projectsBack .actions .fa-eye-slash:hover,
.projectsBack .actions .fa-eye:hover,
.travelsBack .actions .fa-eye-slash:hover,
.travelsBack .actions .fa-eye:hover {
  color: #ddd;
}

.projectsBack .actions .fa-eye-slash.visible,
.projectsBack .actions .fa-eye.visible,
.travelsBack .actions .fa-eye-slash.visible,
.travelsBack .actions .fa-eye.visible {
  display: inline-block;
}

.fa-eye-slash,
.fa-eye {
  cursor: pointer;
  display: none;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}

.fa-eye-slash:hover,
.fa-eye:hover {
  color: #ddd;
}

.fa-eye-slash.visible,
.fa-eye.visible {
  display: inline-block;
}

.actions i {
  font-size: 3rem;
}

.test .overlay {
  position: fixed;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.test .overlay .container {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.test .overlay .container .body {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  max-height: 60vh;
  -ms-grid-columns: (minmax(230px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(230px, 1fr));
  overflow: scroll;
}

.test .overlay .container .body img {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */