@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
html a {
  text-decoration: none;
  color: #000;
}
html body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  line-height: 2;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}
html body main .readMore {
  position: relative;
  left: 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eb6800;
  transition: all ease-in-out 0.25s;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
html body main .readMore a {
  color: #fff;
  display: block;
  padding: 1.5rem 3.5rem;
}
html body main .readMore a i {
  padding-right: 1.5rem;
}
html body main .readMore::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #06458f;
  transition: transform ease-in-out 0.25s;
  transform: translate(-7%, -20%);
  z-index: -1;
}
html body main .readMore:hover {
  transform: translate(-7%, -20%);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
html body main .readMore:hover::before {
  transform: translate(0, 0);
}
html body main h1 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
html body main h1::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
html body main h1:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
html body main h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}
html body main h1:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.main-nav {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
}

header .language-nav {
  display: flex;
  justify-content: space-around;
}
header .language-nav::after {
  content: "x-small";
  background: red;
  padding: 1rem 1.5rem;
  color: #fff;
}
@media screen and (min-width: 576px) {
  header .language-nav::after {
    content: "small";
    background: blue;
    padding: 1rem 1.5rem;
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  header .language-nav::after {
    content: "medium";
    background: brown;
    padding: 1rem 1.5rem;
    color: #fff;
  }
}
@media screen and (min-width: 992px) {
  header .language-nav::after {
    content: "large";
    background: green;
    padding: 1rem 1.5rem;
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  header .language-nav::after {
    content: "x-large";
    background: purple;
    padding: 1rem 1.5rem;
    color: #fff;
  }
}
header .language-nav img {
  width: 3rem;
}
header .main-nav a {
  padding: 1.5rem;
  vertical-align: middle;
}
header .main-nav a img {
  width: 15rem;
}

.home .plx-1,
.home .plx-2,
.home .plx-3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home .plx-1 {
  background-image: url("../img/IMG-604770d311b518.20675264.jpg");
  min-height: 600px;
}
.home .plx-2 {
  background-image: url("../img/IMG-6047845c15e4f5.35266445.jpg");
  min-height: 600px;
}
.home .plx-3 {
  background-image: url("../img/IMG-604770940727e4.96265034.jpeg");
  min-height: 600px;
}

.accounts form {
  background: #06458f;
  padding: 2em;
}
.accounts form input,
.accounts form button {
  outline: none;
  background: white;
  padding: 0.5em;
  border-radius: 0.3em;
}
.accounts form legend {
  position: absolute;
  color: white;
}
.accounts form:nth-child(2) {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: 6px double #eb6800;
}
.accounts form:nth-child(3) {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.travels .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}
.travels .container article {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.travels .container article > a {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.25s;
}
.travels .container article > a:hover {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
  transform: scale(1.04);
}
.travels .container article img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 18/9;
}
.travels .container article .text {
  text-align: left;
  padding: 1.5rem;
  margin-left: 2rem;
  max-width: 80%;
  min-height: 30%;
  display: flex;
  align-self: start;
  flex-direction: column;
  justify-content: space-around;
}
.travels .container article .text h2 {
  text-transform: uppercase;
}
.travels .container article .text .readMore {
  display: none;
}
.travels .container article:nth-of-type(6n-5) {
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.travels .container article:nth-of-type(6n-5) > a {
  max-width: 47%;
}
.travels .container article:nth-of-type(6n-5) > a img {
  aspect-ratio: 4/3;
}
.travels .container article:nth-of-type(6n-5) .text {
  align-self: unset;
  max-width: 30%;
  margin: 0 auto;
}
.travels .container article:nth-of-type(6n-5) .text p {
  margin-top: 2.5rem;
}
.travels .container article:nth-of-type(6n-5) .text .readMore {
  display: unset;
}
.travels .container article:nth-of-type(6n-4),
.travels .container article:nth-of-type(6n-3) {
  width: 47%;
}

.post .banner {
  max-width: 40%;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}
.post .banner h1 {
  text-transform: uppercase;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}
.post .banner a {
  color: inherit;
  font-size: 4rem;
  cursor: pointer;
}
.post .banner a i {
  transform: rotate(90deg);
}
.post .plx-1,
.post .plx-2,
.post .plx-3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 5;
}
.post .plx-1 {
  background-image: url("https://picsum.photos/1600/900");
  min-height: 85vh;
}
.post .plx-2 {
  background-image: url("https://picsum.photos/1600/900");
  min-height: 80vh;
  background-attachment: unset;
  background-position: center 30%;
}
.post .plx-3 {
  background-image: url("https://picsum.photos/1600/900");
  min-height: 70vh;
}
.post #container {
  background-color: #fff;
  position: relative;
  z-index: 5;
}
.post #container section {
  position: relative;
  padding: 8rem;
}
.post #container section:nth-of-type(1) article:nth-of-type(1) p:nth-of-type(1)::first-letter {
  text-transform: uppercase;
  color: #06458f;
  float: left;
  font-size: 6rem;
  margin: 0 2.5rem;
}
.post #container section article {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}
.post #container section article p {
  max-width: 45%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 2rem;
}
.post #container section article .img-right {
  float: right;
  margin: 1rem 2rem 2rem 4rem;
  width: 45%;
}
.post #container section article .img-right img {
  width: 100%;
}
.post #container section aside {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 10%;
}
.post #container section aside div {
  line-height: 1.5;
}
.post #container section aside div + div {
  position: relative;
  margin-top: 3rem;
}
.post #container section aside div + div::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-top: 2px solid #000;
}
.post #container section aside div p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
.post #container section aside div p:first-of-type {
  color: #a0a0a0;
}
.post #container section aside .date p {
  font-style: unset;
  font-weight: normal;
}
.post #container section aside .date p:nth-of-type(1) {
  text-transform: uppercase;
  font-weight: bold;
  color: #a0a0a0;
}
.post #container section aside .date p:nth-of-type(2) {
  font-size: 3rem;
}
.post #container section aside .date p:nth-of-type(3) {
  font-weight: bold;
  color: #a0a0a0;
}

.gallery .photos-container,
.galleryBack .photos-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.gallery .photos-container img,
.galleryBack .photos-container img {
  width: 100%;
  align-self: stretch;
  justify-self: stretch;
  object-fit: cover;
}

.gallery section .filters {
  display: inline-flex;
}
.gallery section .filters .filter {
  background-color: #06458f;
  color: #eee;
  padding: 1rem 1.5rem;
  margin: 2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s;
}
.gallery section .filters .filter:hover {
  background-color: #eb6800;
}
.gallery section .filters .filter.active {
  background-color: #c200e3;
}
.gallery section .country-filters .filter {
  display: none;
}
.gallery section .country-filters .filter.visible {
  display: block;
}
.gallery .photos-container {
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 3rem;
}
.gallery .photos-container figure {
  position: relative;
  transition: transform 0.5s;
  display: none;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.25s;
}
.gallery .photos-container figure:hover {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.gallery .photos-container figure:hover figcaption {
  opacity: 1;
}
.gallery .photos-container figure.visible {
  display: block;
}
.gallery .photos-container figure img {
  height: 100%;
}
.gallery .photos-container figure figcaption {
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  color: #fff;
  text-shadow: 1px 1px 0px black;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
}
.gallery .photos-container figure figcaption::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: transform ease-in-out 0.35s;
  transform: scaleX(0.1);
}
.gallery .photos-container figure figcaption::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: transform ease-in-out 0.35s;
  transform: scaleX(0.1);
}
.gallery .photos-container figure figcaption:hover::before, .gallery .photos-container figure figcaption:hover::after {
  transform: scaleX(1);
}

.galleryBack .photo-form #newContinent {
  display: none;
}
.galleryBack .photo-form #newContinent.active {
  display: inline;
}
.galleryBack .photo-form #countries {
  display: none;
}
.galleryBack .photo-form #countries option:not([value=new]) {
  display: none;
}
.galleryBack .photo-form #countries option.active {
  display: block;
}
.galleryBack .photo-form #countries.active {
  display: inline;
}
.galleryBack .photo-form #newCountry {
  display: none;
}
.galleryBack .photo-form #newCountry.active {
  display: inline;
}
.galleryBack .photo-form .location option[value=country] {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ddd;
}
.galleryBack .photo-form .location option[value=continent] {
  background-color: black;
  color: #fff;
}
.galleryBack .photo-form .location option:not([value=continent]):not([value=country]) {
  background-color: rebeccapurple;
  color: #fff;
}
.galleryBack .photos-container {
  grid-template-columns: repeat(3, minmax(230px, 1fr));
}

.actions i {
  font-size: 3rem;
}

.test .overlay {
  position: fixed;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.test .overlay .container {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.test .overlay .container .body {
  display: grid;
  gap: 1em;
  max-height: 60vh;
  grid-template-columns: repeat(4, minmax(230px, 1fr));
  overflow: scroll;
}
.test .overlay .container .body img {
  align-self: stretch;
  justify-self: stretch;
  object-fit: cover;
}