/**   //////////////  */
/*!  ////GLOBAL////  */
/*? //////////////  */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	font-size: 1.5rem;
	text-align: center;
	max-width: 1400px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000;
}

/* ul {
	padding: 0;
} */

:root {
	--magenta: #c200e3;
	--oceanBlue: #06458f;
	--orange: #eb6800;
}

/**   /////////////  */
/*!  ////FONTS////  */
/*? /////////////  */
.main-nav {
	font-family: 'Audiowide', cursive;
	text-transform: uppercase;
}

h1 {
	font-family: 'Audiowide', cursive;
	text-transform: uppercase;
	font-size: 3rem;
}

/**   //////////////  */
/*!  ////HEADER////  */
/*? //////////////  */
.language-nav {
	display: flex;
	justify-content: space-around;
}

.language-nav img {
	width: 3rem;
}

.main-nav a {
	padding: 1.5rem;
	vertical-align: middle;
}

.main-nav .home {
	border: 2px solid #000;
}

.main-nav img {
	width: 15rem;
}

/**   ////////////  */
/*!  ////MAIN////  */
/*? ////////////  */

main {
	max-width: 1400px;
}

/**   ////////////////  */
/*!  ////ACCOUNTS////  */
/*? ////////////////  */
.accounts form {
	background: var(--oceanBlue);
	padding: 2em;
}
.accounts form:nth-child(2) {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom: 6px double var(--orange);
}
.accounts form:nth-child(3) {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
.accounts input,
.accounts button {
	outline: none;
	background: white;
	padding: 0.5em;
	border-radius: 0.3em;
}
.accounts legend {
	position: absolute;
	color: white;
	font-size: 1.5em;
}

/**   ///////////////  */
/*!  ////GALLERY////  */
/*? ///////////////  */

/* # COMMON */
.photos-container {
	display: grid;
	gap: 1rem;
}

.portrait {
	grid-row: span 2;
}

.photos-container img {
	align-self: stretch;
	justify-self: stretch;
	object-fit: cover;
}

/* # FRONT */
.gallery .photos-container {
	grid-template-columns: repeat(2, minmax(230px, 1fr));
}

/* # BACK */
.galleryBack .photos-container {
	grid-template-columns: repeat(4, minmax(230px, 1fr));
}

.galleryBack #newContinent {
	display: none;
}

.galleryBack #newContinent.active {
	display: inline;
}

.galleryBack #countries {
	display: none;
}

.galleryBack #countries.active {
	display: inline;
}

.galleryBack #newCountry {
	display: none;
}

.galleryBack #newCountry.active {
	display: inline;
}

.galleryBack .location option[value="country"] {
	background-color: rgba(0, 0, 0, 0.4);
	color: #ddd;
}

.galleryBack .location option[value="continent"] {
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
}

.galleryBack .location option:not([value="continent"]):not([value='country']) {
	background-color: rebeccapurple;
	color: #fff;
}

.galleryBack #countries option {
	display: none;
}

.galleryBack #countries option.active {
	display: block;
}



/*?   /////////////  */
/*!  ////ICONS////  */
/** /////////////  */
.actions i {
	font-size: 3rem;
}

/*?   ///////////////  */
/*!  ////ACCOUNT////  */
/** ///////////////  */
